body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
  margin-bottom: 0px;
}

.col-md-4 {
  padding-left: 0px;
  padding-right: 0px;
}


footer {
  width: 100%;
  height: 140px;
  background-color: rgba(0,0,0,.7); 
  color: white;
}

.landing-footer {
  position: absolute;
  bottom: 0;
}

footer ul {
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center;
  -webkit-padding-start: 0px;
}

footer .footer-text {
  padding: 0 300px 0 300px;
}

footer li {
  display: inline;
  padding: 0px .6em 0px .6em;
  
}

footer .pull-right a {
  padding-left: 1em;
  color: white;
}

footer .pull-right {
  text-align: right;
}

footer .pull-left {
  text-align: left;
}

.glyphicon {
  font-size: 100px;
}

.amenities ul {
  padding-left: 0px;
}

.amenities li {
  display: block;
  font-size: 1.4em;
  line-height: 2em;
}

.amenities li:before {
    content: "\e659";
    font-family: 'Glyphicons Regular';
    position: relative;
    top: 3px;
    margin-right: 1em;
    color: #ccc;  
}

.availability li{
  text-align: right; 
  list-style: none;
  font-size: 1.4em;
}

.rules ul {
  padding-left: 0px;
}

.rules li {
  display: block;
  font-size: 1.4em;
  line-height: 2em;
}

.rules li:before {
    content: "\e224";
    font-family: 'Glyphicons Regular';
    position: relative;
    top: 3px;
    margin-right: 1em;
    color: #ccc;  
}

.policy {
  padding-left: 0px;
}

.policy li {
  display: block;
  font-size: 1.4em;
  line-height: 2em;
}

.policy li:before {
    content: "\e176";
    font-family: 'Glyphicons Regular';
    position: relative;
    top: 3px;
    margin-right: 1em;
    color: #ccc;  
}

.venue-photos ul{
  padding-left: 0px;
}

.venue-photos li {
  display: inline-block;
  list-style: none;
  padding: 0px 1em 1em 0px;
}

.landing-page {
  background: url('../img/anyspace-cover-blur.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.venue-cover {
  background: url('../img/anyspace-venue.jpg') no-repeat scroll;
  height: 500px;
}

.venue-block {
  border-width: 1px;
  border-bottom: 1px #d3d3d3 solid;
  padding-bottom: 1em;
}
.venue-detail-backup {
  padding: 2% 40% 0 20%;
}

.venue-detail {
  padding-bottom: 2em;
}
.venue-detail h1 {
  font-weight: bold;
}

.venue-detail h2 {
  font-size: 1.6em;
  margin-top: 0px;
  margin-bottom: 2em;
}

.venue-detail h3 {
  font-weight: bold;
}

.venue-detail p {
  font-size: 1.2em;
}

.venue-box {
  margin-top: -6em;
  padding: 0 0 0 0;
  border: 1px solid gray;
  box-sizing: border-box;
  background-color: white;
}

.venue-box-top {
  background-color: #514ca9;
  color: white; 
  padding: .6em 0 0 0;
}

.venue-price {
  font-size: 2em;
  line-height: 2em;
  font-weight: bold;
  float: left;
  padding: 0 0 0 .6em;
}

.rate-unit {
  font-size: 1.6em;
  float: right;
  line-height: 2.6em;
  padding: 0 1.2em 0 0 ;
}

.venue-options {
  margin-left: 1.6em;
  margin-top: 1em;
  margin-bottom: 1em;
}

 .venue-options select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid gray;
  border-radius: 0px;
  outline: none;
  padding: .4em 1em .4em 1em;
  margin: .4em .2em .4em .2em;
  width: 9em;
}

.sort-by select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid gray;
  border-radius: 0px;
  outline: none;
  padding: .4em 1em .4em 1em;
  margin: 0em .2em .4em .2em;
  width: 9em;
}
.venue-actions button {
  width: 100%;
  border: none;
  display: block;
  font-size: 1.2em;
}

button.book-now {
  background-color: #514ca9;
  color: white;
  padding: .6em 0 .6em 0;
  
}

button.contact-venue {
  background-color: white;
  padding: .6em 0 .6em 0;
}

.main-caption {
  text-align: center;
  color: white;
  text-shadow: 0 1px 3px rgba(0,0,0,.8);
  padding: 4em 0 6em 0;
}

#search {
  text-align: center;
  background-color: rgba(0,0,0,.7);
  padding: 2em 0 2em 0;
  /*margin: 0 12em 0 12em;
  border-radius: 8px;*/
}         

#search select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
         
#search input, #search select {
  color: white;
  height: 3em; 
  background-color: #444;
  padding: 0 1em 0 1em;
  margin: 4px 2px 4px 2px;
  border: none;
  text-transform: uppercase; 
  outline: none;
}         

#search input[type="text"]:nth-of-type(1){
    width: 200px;
}

#search input[type="text"]:nth-of-type(2),input[type="text"]:nth-of-type(3) {
    width: 150px;
}

#search input[type="submit"] {
  background-color: #514ca9;
}
#search input[type="text"]::-webkit-input-placeholder {
    color: white;
}

#search input[type="text"]:-moz-placeholder {
    color: white;
}

#search input[type="text"]::-moz-placeholder {
    color: white;
}

#search input[type="text"]:-ms-input-placeholder {
    color: white;
}


/* Pat */

.navbar-wrapper > .container {
    width: 100%;
    padding: 0;
}

.navbar-wrapper > .container .navbar {
	border-radius: 0;
	height: 100px;
}

.navbar-wrapper > .container .container {
	/*max-width: 700px;*/
	margin-top: 25px;
}

#search input, #search select {
	margin: 0;
}

.navbar-wrapper {
	margin-top: 0;
}
.navbar-inverse {
	background-color: rgba(0,0,0,.7);
}

#search input, #search select {
	border: none;
	outline: none;
	border-right: #333 1px solid;
	margin-left: -4px;
}
#search input[type="text"]:first-of-type {
	border-radius: 5px 0 0 5px;
	margin-left: 0;
}
#search input[type="submit"] {
	border-radius: 0 5px 5px 0;
	border-right: none;
}

.main-caption img {
    height: 4.28em;
    max-width: 100%;
    display: block;
    margin: auto;
}

.main-caption h1 {
	color: #ffffff;
	text-align: center;
	font-size: 3.518em;
	line-height: .75em;
}

.main-caption h2 {
	color: #ffffff;
	text-align: center;
	font-size: 1.776em;
	line-height: 1.776em;
}

.navbar-brand {
	margin: 0 !important;
	padding: 0;
}
.navbar-brand img {
	height: 50px;
	max-width: 100%;
    display: block;
    margin: auto;
}

.venue-photos > ul > li {
	width: 120px;
    height: 120px;
    overflow: hidden;
    margin: 0px 1em 1em 0px;
}
.venue-photos > ul > li > img {
	height: inherit;
	width: auto;
}




.customselect {
	width: 100%;
    border: 1px solid gray;
    border-radius: 0px;
    outline: none;
    margin: .4em .2em .4em .2em;
    width: 9em;
}
.customselect .csbox, .customselect .cslist {
    background: #fff !important;
}
.customselect .cslist {
	padding-left: 0 !important;
	border: 1px solid gray;
}

/* css for checked dropped down
   https://codepen.io/elmahdim/pen/hlmri
*/


a {
  color: #fff;
}

.dropdown {
  z-index:1;
  position: relative;
}
.dropdown dd,
.dropdown dt {
  margin: 0px;
  padding: 0px;
}

.dropdown ul {
  margin: -1px 0 0 0;
}

.dropdown dd {
  position: relative;
}

.dropdown a,
.dropdown a:visited {
  color: #fff;
  text-decoration: none;
  outline: none;
}

.dropdown dt a {
  background-color: #444;
  display: block;
  padding: 8px 20px 0px 10px;
  overflow: hidden;
  border: 0;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

.dropdown dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
}

.dropdown dd ul {
  background-color: #333;
  border: 0;
  color: #fff;
  display: none;
  left: 0px;
  padding: 2px 0px 2px 5px;
  position: static;
  top: 2px;
  width: 100%;
  list-style: none;
  height: 100px;
  overflow: auto;
}

.dropdown span.value {
  display: none;
}

.dropdown dd ul li a {
  padding: 5px;
  display: block;
}

.dropdown dd ul li a:hover {
  background-color: #fff;
}

button {
  background-color: #514ca9;
  width: 100%;
  border-radius: 5px;
  border-style: none;
  padding: 10px 0;
  margin: 10px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

a.result-list-type {
  padding: 8px 10px 8px 10px;
  margin: 0px;
  text-decoration: none;
  display: inline;
  vertical-align: top;
  line-height: 3em;

}

a.list-left {
  background-color: white;
  color: #444;
  border: 2px solid #444;
  border-right: 0;
  

}

a.list-right {
  background-color: white;
  color: #444;
  border: 2px solid #444;
}

a.list-inactive {
  background-color: #444;
  color: white;
}

.sort-by {
  text-align: right;
}

.result-item {
  padding-top: 2em;
  padding-bottom: 1em;
}

.result-item h1 {
  margin-top: 0px;
}

.result-item h2 {
  font-size: 1.6em;
  margin-top: 0px;
}

.customselect .cslist li {
	line-height: 30px;
}
.customselect .cslist li:hover, .customselect .cslist li.selected {
  color: #fff !important;
  background: #514ca9 !important;
}

.billing-info > .customselect {
	width: 100%;
}
.billing-info > div .customselect {
	width: 100px;
}

.payment .venue-box {
	margin-top: 6em;
}


#bi > h1, #pi > h1 {
	color: #5A5A5A;
	margin-left: 40px;
}
#bi, #pi {
	text-decoration: none
}
#bi:before, #pi:before {
	position: absolute;
	content: ' ';
	background: url('../img/select-arrow.png');
	width: 21px;
	height: 10px;
	left: 10px;
	/*top: 50%;*/
	margin-top: 34px;
	background-size: cover;
}


.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

.payment .venue-detail {
	padding-bottom: 12em;
	
}
.payment .col-md-12 {
	padding-left: 0;
}


.payment button.contact-venue {
	color: gray;
}


.result-item .col-md-2.col-md-offset-3 {
    height: 250px;
    overflow: hidden;
}
.result-item .col-md-2.col-md-offset-3 img {
	height: inherit;
	width: auto;
}
.result-item .col-md-4 {
    padding-left: 30px;
   }
