.landing-page {
  background: url('../img/anyspace-cover-blur.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.venue-page {
  background: url('../img/anyspace-venue.jpg') no-repeat scroll;
  background-size: cover;
  
}

.main-caption {
  text-align: center;
  color: white;
  text-shadow: 0 1px 3px rgba(0,0,0,.8);
  padding: 4em 0 6em 0;
}

#search {
  text-align: center;
  background-color: rgba(0,0,0,.7);
  padding: 2em 0 2em 0;
  /*margin: 0 12em 0 12em;
  border-radius: 8px;*/
}         

#search select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
         
#search input, #search select {
  color: white;
  height: 3em; 
  background-color: #444;
  padding: 0 1em 0 1em;
  margin: 4px 2px 4px 2px;
  border: none;
  text-transform: uppercase; 
  outline: none;
}         

#search input[type="text"]:nth-of-type(1){
    width: 200px;
}

#search input[type="text"]:nth-of-type(2),input[type="text"]:nth-of-type(3) {
    width: 150px;
}

#search input[type="submit"] {
  background-color: #514ca9;
}
#search input[type="text"]::-webkit-input-placeholder {
    color: white;
}

#search input[type="text"]:-moz-placeholder {
    color: white;
}

#search input[type="text"]::-moz-placeholder {
    color: white;
}

#search input[type="text"]:-ms-input-placeholder {
    color: white;
}


/* Pat */

.navbar-wrapper > .container {
    width: 100%;
    padding: 0;
}

.navbar-wrapper > .container .navbar {
	border-radius: 0;
	height: 100px;
}

.navbar-wrapper > .container .container {
	max-width: 700px;
	margin-top: 25px;
}

#search input, #search select {
	margin: 0;
}

.navbar-wrapper {
	margin-top: 0;
}
.navbar-inverse {
	background-color: rgba(0,0,0,.7);
}



#search input, #search select {
	border: none;
	outline: none;
	border-right: #333 1px solid;
	margin-left: -4px;
}
#search input[type="text"]:first-of-type {
	border-radius: 5px 0 0 5px;
	margin-left: 0;
}
#search input[type="submit"] {
	border-radius: 0 5px 5px 0;
	border-right: none;
}

.main-caption img {
    height: 4.28em;
    max-width: 100%;
    display: block;
    margin: auto;
}

.main-caption h1 {
	color: #ffffff;
	text-align: center;
	font-size: 3.518em;
	line-height: .75em;
}

.main-caption h2 {
	color: #ffffff;
	text-align: center;
	font-size: 1.776em;
	line-height: 1.776em;
}

.navbar-brand {
	margin: 0 !important;
	padding: 0;
}
.navbar-brand img {
	height: 50px;
	max-width: 100%;
    display: block;
    margin: auto;
}
