a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* em ratios

.178 : .238 : .316 : .422 : .562 : .75 : 1 : 1.334
1.776 : 2.368 : 3.158 : 4.208 : 5.61 : 7.478 : 9.968
13.228 : 17.714 : 23.612 : 31.474 : 41.956 : 55.928 : 74.55 : 99.376

*/

html {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: none;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
.clear {
	clear: both;
}

.purple {
	color: #8B87C7;
}

.purple-background {
	background: #8B87C7;
}






/* Header */

#video {
	height: 100%;
	width: 100%;
	position: absolute;
}


/* Main */

#inner {
	padding-left: 50%;
	padding-top: 66.66%;
	padding-left: calc(50% - 80px);
	padding-top: calc(66.66% - 32.5px);
	position: absolute;
	width: 100%;
    margin-left: calc(-50% + 80px);
}

#inner h1 {
	color: #ffffff;
	text-align: center;
	font-size: 3.518em;
	line-height: .75em;
}

#inner h2 {
	color: #ffffff;
	text-align: center;
	font-size: 1.776em;
	line-height: 1.776em;
}

#inner img {
	height: 4.28em;
	max-width: 100%;
	display: block;
	margin: auto;
}
#search {
	background: url("../images/opacity.png");
	width: 100%;
	height: 148px;
}

#search input, #search select {
	background-color: #ffffff;
	height: 65px;
	border: none;
	margin-top: 41.5px;
	padding: 23px 27px;
	/* text-transform: uppercase; */
	outline: none;
	border-right: #999999 1px solid;
	margin-left: -4px;
	
	font-size: 25px;
	color: #666666;
}
#search input[type="text"]:first-of-type {
	width: 540px;
	border-radius: 5px 0 0 5px;
	margin-left: 0;
	padding-top: 0;
    padding-bottom: 0;
}
#search input[type="text"]:nth-of-type(2) {
	width: 297px;
	width: 308px;	/* temporary to line up with datetimepicker */
	background: #ffffff url("../images/select-arrow.png") no-repeat right;
	padding-top: 0;
    padding-bottom: 0;
}
#search select {
	padding-top: 17px;
	width: 297px;
	width: 308px;	/* temporary to line up with datetimepicker */
	background: #ffffff url("../images/select-arrow.png") no-repeat right;
}
#search input[type="submit"] {
	border-radius: 0 5px 5px 0;
	padding-top: 17px;
}
.firefox #search select, .firefox #search input[type="submit"] {
	padding-top: 16px;
}


#search input[type="text"]::-webkit-input-placeholder {
	color: #666666;
}

#search input[type="text"]:-moz-placeholder {
	color: #666666;
}

#search input[type="text"]::-moz-placeholder {
	color: #666666;
}

#search input[type="text"]:-ms-input-placeholder {
	color: #666666;
}

